opencv-python==4.8.1.78
numpy==1.24.3
Pillow==10.0.1
exifread==3.0.0
requests==2.31.0
PyYAML==6.0.1
suncalc==1.1.1
pytz==2023.3
geopy==2.3.0
selenium==4.11.2
scikit-image==0.21.0
pytest==7.4.2
stem==1.8.2
